header {
  width: 100%;
  padding:20px 4% 10px;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
}

ul {
  text-align:right;
}

li {
  display: inline;
  padding: 0 10px;
}